.hidden {
    display: none;
}



/* img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 80%;
} */

img {
    position: absolute;   
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 80%;
    z-index: -1;
}

#clock{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: azure;
    font-size: 80px;
}

.inputname{

    width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.loginButton
{
    width: 60px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}



