.body_todo-input
{
    background-color: gray;
    border-style: none;
    border: 0;
    padding: 15px;
    font-size: 30;
    color: white;
    border-radius: 10px;
    transition: background-color .1s ease-in-out;
    width: 250px;
    cursor: pointer;

}

.body_todo-input:hover
{
    opacity: 70%;
}

.body_todo-input::placeholder
{
    color: white;
}

.body_todo-input:focus
{
    outline: none;
    border-bottom: 4px solid white;
    background-color: black;
}


.body_todo-list button
{
    background-color:transparent;
    border: 0;
    size: 50px;
    cursor: pointer;
}


.body_todo-form
{
    text-align: center;
}

text.placeholder{
    text-align: center;
}

.body_todo-list
{
    text-align: center;
    color: azure;
    font-size: 40px;
    margin: 10px 10px 10px 10px;

}




